In [31]:
from pandas import DataFrame, Series
import pandas as pd
import plotly.tools as tld
import plotly.plotly as py
py.sign_in('0819322','Z32pHRSy5HaCJ3nUprJX')
import cufflinks as cf

In [2]:
pd.DataFrame
DataFrame

pandas.core.frame.DataFrame

In [7]:
carsales = pd.read_csv('C:\Users\Student30\Documents\Used car data sets\cnt_km_year_powerPS_minPrice_maxPrice_avgPrice_sdPrice.csv')

In [9]:
carsales.head()

   count      km  year  powerPS  minPrice  maxPrice   avgPrice      sdPrice
0     19  125000  1991       40       300      1499   648.3158   352.035293
1     69  150000  1991       40       110      1600   516.4348   346.767661
2     11   90000  1991       60       330     10000  2342.4545  3017.432333
3     26  100000  1991       60       200      8750  1392.3846  1598.662833
4     42  125000  1991       60       150      4600  1140.6429  1010.314138

In [10]:
carsales.describe()  #data profiling

,count,km,year,powerPS,minPrice,maxPrice,avgPrice,sdPrice
count,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000
mean,160.992655,88652.542373,2005.472316,152.011299,4161.532203,21440.299435,10464.486905,3432.732575
std,378.592089,43909.507345,6.160430,80.359001,5492.165063,16356.444254,9219.917411,2878.065884
min,11.000000,5000.000000,1991.000000,40.000000,101.000000,950.000000,412.204500,193.395447
25%,20.000000,60000.000000,2001.000000,80.000000,350.000000,8900.000000,3244.878600,1474.916671
50%,47.000000,90000.000000,2007.000000,140.000000,1692.500000,17000.000000,7698.028200,2682.633933
75%,123.750000,125000.000000,2011.000000,200.000000,5999.750000,29800.000000,15409.960200,4468.457934
max,3623.000000,150000.000000,2015.000000,520.000000,36675.000000,99999.000000,66936.000000,22338.842420

In [13]:
csbyyear = carsales.groupby(['year','km']).mean()

In [14]:
csbyyear

                  count     powerPS      minPrice      maxPrice      avgPrice  \
year km
1991 90000    11.666667   80.000000    293.333333   6233.000000   1772.207433
     100000   17.666667   86.666667    240.000000   7543.333333   1978.772633
     125000   28.400000   80.000000    319.800000   6419.800000   1676.628920
     150000  138.846154  163.076923    702.076923  26053.846154   6236.907031
1992 80000    12.000000  100.000000    550.000000   6000.000000   2681.583300
     90000    13.000000   70.000000    200.000000   1775.000000    760.230800
     100000   15.000000   80.000000    250.000000   6783.000000   2217.337533
     125000   27.666667   90.000000    315.000000   9949.833333   2350.169417
     150000  154.000000  164.615385    587.615385  24073.076923   4483.878831
1993 80000    16.000000   80.000000    150.000000   3850.000000   1185.562500
     90000    14.333333   80.000000    311.666667   2993.333333   1099.030900
     100000   16.666667   80.000000    223.333333   8416.666667   1965.911533
     125000   35.833333   93.333333    268.333333   9081.333333   1911.397217
     150000  160.642857  181.428571    686.071429  14867.000000   4467.693764
1994 80000    18.000000   80.000000    250.000000   3499.000000   1378.722200
     90000    14.500000   70.000000    250.000000   4250.000000   1095.717200
     100000   18.333333   80.000000    316.666667   4663.333333   1218.091967
     125000   35.714286  100.000000    337.000000   7682.857143   2065.204500
     150000  244.071429  174.285714    564.357143  22703.357143   4347.347121
1995 5000     22.500000   90.000000    187.500000   3616.500000    796.744050
     70000    15.000000   70.000000    519.000000   2050.000000   1093.083350
     80000    15.250000   70.000000    187.250000   3362.500000   1161.336700
     90000    21.750000   70.000000    225.000000   3550.000000   1198.005125
     100000   27.800000   80.000000    269.800000   5007.000000   1436.356400
     125000   64.625000  112.500000    293.375000   8443.750000   2096.613763
     150000  418.142857  174.285714    507.785714  22081.285714   3595.346486
1996 5000     20.500000   90.000000    142.500000   2024.750000    773.675725
     50000    14.000000   80.000000    250.000000   2900.000000   1752.714300
     60000    15.000000   86.666667    283.333333   5166.666667   1617.861133
     70000    14.000000   86.666667    844.666667   4499.666667   1948.333333
...                 ...         ...           ...           ...           ...
2012 100000   45.666667  142.222222   8120.777778  25742.222222  16052.249289
     125000   53.083333  173.333333   9726.583333  31751.666667  18877.986383
     150000   96.000000  170.000000   7043.900000  31458.000000  16095.787180
2013 5000     13.000000   60.000000   6250.000000   9900.000000   8059.769200
     10000    17.750000   95.000000   6823.500000  17962.500000  11914.091325
     20000    67.000000  132.500000   9502.375000  30717.375000  17648.034775
     30000    85.500000  171.666667   9594.916667  38776.416667  22502.393100
     40000   103.272727  160.000000   6293.454545  39335.454545  20379.880255
     50000    76.500000  173.333333   8247.000000  42787.250000  22540.669567
     60000    60.545455  160.000000  10865.000000  38640.636364  20445.335009
     70000    41.300000  154.000000   9895.800000  36885.700000  21270.177750
     80000    34.000000  130.000000   5433.666667  24224.000000  15892.059050
     90000    24.600000  140.000000  10626.000000  26607.800000  18200.691980
     100000   15.750000  145.000000   8781.250000  25810.000000  17632.117700
     125000   18.800000  140.000000   9108.000000  27910.000000  16017.558460
     150000   42.400000  140.000000   3930.000000  24408.000000  13619.749980
2014 5000     20.500000   90.000000   2056.000000  18435.000000  12228.353125
     10000    39.142857  120.000000   7250.000000  28291.142857  18648.781143
     20000    92.357143  190.000000   9610.857143  49367.642857  27545.772236
     30000    95.928571  190.000000   6718.857143  46684.928571  26737.454300
     40000    51.857143  190.000000   9561.071429  45012.857143  26670.773007
     50000    41.750000  152.500000  10525.625000  34059.875000  21965.115988
     60000    24.750000  145.000000   9694.500000  31547.250000  20044.058500
     70000    18.333333  160.000000  11453.666667  27866.666667  21586.834867
     80000    11.000000  180.000000  21490.000000  27500.000000  23570.000000
2015 5000     46.444444  144.444444   4576.777778  42709.888889  24707.062767
     10000    57.846154  183.076923   5863.538462  56299.615385  30493.864400
     20000    78.153846  183.076923   8914.923077  54007.615385  30148.977092
     30000    34.428571  140.000000   2488.857143  37728.428571  23087.596114
     40000    13.500000  160.000000   3439.000000  32200.000000  21852.366650

                 sdPrice
year km
1991 90000   1802.495187
     100000  1725.535639
     125000  1395.077661
     150000  5409.422219
1992 80000   1602.225819
     90000    463.727089
     100000  2080.859700
     125000  2392.677879
     150000  4394.266794
1993 80000    970.308132
     90000    688.914423
     100000  2421.416531
     125000  1893.310710
     150000  3105.064807
1994 80000   1146.517762
     90000    945.583317
     100000  1108.203971
     125000  1710.077423
     150000  4594.768661
1995 5000     754.009147
     70000    441.624280
     80000    803.957620
     90000    861.837806
     100000  1079.523957
     125000  1520.393395
     150000  3780.455613
1996 5000     513.110673
     50000    701.472882
     60000   1364.670466
     70000   1041.061787
...                  ...
2012 100000  4125.778078
     125000  4282.331579
     150000  4259.262470
2013 5000    1037.166566
     10000   3268.591033
     20000   4235.914569
     30000   6311.630280
     40000   6227.913413
     50000   6911.142963
     60000   6194.501098
     70000   6239.427166
     80000   3863.996211
     90000   3948.311599
     100000  4433.725521
     125000  4528.522168
     150000  4376.985201
2014 5000    3853.879083
     10000   4811.006012
     20000   7631.612493
     30000   7683.952660
     40000   7702.070830
     50000   5644.766073
     60000   5121.410375
     70000   3640.176462
     80000   1770.885757
2015 5000    8221.164801
     10000   9637.585399
     20000   8854.828351
     30000   8424.134215
     40000   7746.585052

[239 rows x 6 columns]

In [27]:
! pip install cufflinks --upgrade

Requirement already up-to-date: cufflinks in c:\users\student30\anaconda3\lib\site-packages
Requirement already up-to-date: plotly>=1.7.6 in c:\users\student30\anaconda3\lib\site-packages (from cufflinks)
Requirement already up-to-date: colorlover>=0.2 in c:\users\student30\anaconda3\lib\site-packages (from cufflinks)
Requirement already up-to-date: pandas in c:\users\student30\anaconda3\lib\site-packages (from cufflinks)
Requirement already up-to-date: requests in c:\users\student30\anaconda3\lib\site-packages (from plotly>=1.7.6->cufflinks)
Requirement already up-to-date: pytz in c:\users\student30\anaconda3\lib\site-packages (from plotly>=1.7.6->cufflinks)
Requirement already up-to-date: six in c:\users\student30\anaconda3\lib\site-packages (from plotly>=1.7.6->cufflinks)
Requirement already up-to-date: numpy>=1.7.0 in c:\users\student30\anaconda3\lib\site-packages (from pandas->cufflinks)
Requirement already up-to-date: python-dateutil in c:\users\student30\anaconda3\lib\site-packages (from pandas->cufflinks)

You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [32]:
csbyyear.scatter_matrix()

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~0819322/0 or inside your plot.ly account where it is named 'Plotly Playground 2016-11-29 17:14:25'