In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [3]:
obj = Series(range(3), index=['a', 'b', 'c'])

In [4]:
index = obj.index

In [5]:
index

Index([u'a', u'b', u'c'], dtype='object')

In [6]:
index[1] = 'd'

TypeError: Index does not support mutable operations

In [7]:
obj

a    0
b    1
c    2
dtype: int64

In [8]:
index = pd.Index(np.arange(3))

In [9]:
index

Int64Index([0, 1, 2], dtype='int64')

In [10]:
obj2 = Series([1.5, -2.5, 0], index=index)

In [11]:
obj2.index is index

True

In [13]:
pop = {'Nevada':{2001: 2.4, 2002: 2.9},
       'Ohio':{2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = DataFrame(pop)

In [14]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [15]:
'Ohio' in frame3.columns

True

In [16]:
2003 in frame3.columns

False